{% extends "base.html" %}
{% from "_form_helpers.html" import render_field %}
{% block title %}Assign Staff{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4">
            <h3 class="mb-3">Assign Staff to "{{ trek.name }}"</h3>
            <form method="POST">
                {{ form.hidden_tag() }}
                {{ render_field(form.staff_id) }}
                {{ form.submit(class="btn btn-success w-100") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}
